/* TABLES */

// Verify Identity options
.fp-idv-table-activation-methods {
    border: 0;
    margin: 20px $gutter;
    width: auto;
}

.fpg-table-row {
    border-bottom: 1px solid $color-dove;
    color: $color-ash;
    font-size: 16px;
    height: auto;
    padding: 12px 0;
}
